In [72]:
import pandas as pd

df_excel = pd.read_excel('disperkim-od_16985_jumlah_produksi_sampah_berdasarkan_kabupatenkota_v3_data.xlsx', sheet_name='data')
df_excel

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [9]:
df_filter = df_excel[['nama_kabupaten_kota','jumlah_produksi_sampah','satuan','tahun']]
df_filter

    nama_kabupaten_kota  jumlah_produksi_sampah        satuan  tahun
0       KABUPATEN BOGOR                 1511.15  TON PER HARI   2015
1    KABUPATEN SUKABUMI                  419.01  TON PER HARI   2015
2     KABUPATEN CIANJUR                  981.41  TON PER HARI   2015
3     KABUPATEN BANDUNG                 1895.94  TON PER HARI   2015
4       KABUPATEN GARUT                  464.74  TON PER HARI   2015
..                  ...                     ...           ...    ...
238         KOTA BEKASI                     NaN  TON PER HARI   2023
239          KOTA DEPOK                     NaN  TON PER HARI   2023
240         KOTA CIMAHI                     NaN  TON PER HARI   2023
241    KOTA TASIKMALAYA                     NaN  TON PER HARI   2023
242         KOTA BANJAR                     NaN  TON PER HARI   2023

[243 rows x 4 columns]

In [100]:
sampah_2021 = []

for index, row in df_excel.iterrows():
    if row['tahun'] == 2021:
        sampah_2021.append(row['jumlah_produksi_sampah'])

total_sampah_2021 = sum(sampah_2021)

dfsampah2021 = pd.DataFrame({'tahun': [2021], 'jumlah produksi sampah': [total_sampah_2021]})

dfsampah2021

   tahun  jumlah produksi sampah
0   2021                15735.36

In [116]:
print("List Jumlah Produksi Sampah Dari Kota Per Tahun")

# Inisialisasi dictionary untuk menampung total sampah per tahun
jumlah_sampah_per_tahun = {
    2015: 0,
    2016: 0,
    2017: 0,
    2018: 0,
    2019: 0,
    2020: 0,
    2021: 0,
    2022: 0,
    2023: 0
}

# Iterasi melalui DataFrame untuk mengisi total sampah per tahun
for index, row in df_excel.iterrows():
    tahun = row['tahun']
    if tahun in jumlah_sampah_per_tahun:
        jumlah_sampah_per_tahun[tahun] += row['jumlah_produksi_sampah']

# Membuat DataFrame untuk menampilkan hasil
df_total_sampah = pd.DataFrame(list(jumlah_sampah_per_tahun.items()), columns=['Tahun', 'Total Produksi Sampah'])

df_total_sampah

List Jumlah Produksi Sampah Dari Kota Per Tahun

   Tahun  Total Produksi Sampah
0   2015               20969.27
1   2016               20969.27
2   2017               20969.27
3   2018               22772.92
4   2019               24490.56
5   2020               25333.00
6   2021               15735.36
7   2022                    NaN
8   2023                    NaN

In [139]:
total_wilayah_tahun = {}
for index, row in df_excel.iterrows():
    wilayah = row['nama_kabupaten_kota']
    tahun = row['tahun']
    jumlah = row['jumlah_produksi_sampah']
    
    if wilayah not in total_wilayah_tahun:
        total_wilayah_tahun[wilayah] = {}
    
    if tahun in total_wilayah_tahun[wilayah]:
        total_wilayah_tahun[wilayah][tahun] += jumlah
    else:
        total_wilayah_tahun[wilayah][tahun] = jumlah

result = []
for wilayah, tahun_data in total_wilayah_tahun.items():
     for tahun, jumlah in tahun_data.items():
         result.append([wilayah, tahun, jumlah])
         
df_result = pd.DataFrame(result, columns=('Wilayah','Tahun','Jumlah Sampah (Ton)'))
df_result

[['KABUPATEN BOGOR', 2015, 1511.15],
 ['KABUPATEN BOGOR', 2016, 1511.15],
 ['KABUPATEN BOGOR', 2017, 1511.15],
 ['KABUPATEN BOGOR', 2018, 1716.8],
 ['KABUPATEN BOGOR', 2019, 2914.65],
 ['KABUPATEN BOGOR', 2020, 2977.0],
 ['KABUPATEN BOGOR', 2021, 971.59],
 ['KABUPATEN BOGOR', 2022, nan],
 ['KABUPATEN BOGOR', 2023, nan],
 ['KABUPATEN SUKABUMI', 2015, 419.01],
 ['KABUPATEN SUKABUMI', 2016, 419.01],
 ['KABUPATEN SUKABUMI', 2017, 419.01],
 ['KABUPATEN SUKABUMI', 2018, 415.5],
 ['KABUPATEN SUKABUMI', 2019, 1003.64],
 ['KABUPATEN SUKABUMI', 2020, 1006.0],
 ['KABUPATEN SUKABUMI', 2021, 356.02],
 ['KABUPATEN SUKABUMI', 2022, nan],
 ['KABUPATEN SUKABUMI', 2023, nan],
 ['KABUPATEN CIANJUR', 2015, 981.41],
 ['KABUPATEN CIANJUR', 2016, 981.41],
 ['KABUPATEN CIANJUR', 2017, 981.41],
 ['KABUPATEN CIANJUR', 2018, 965.19],
 ['KABUPATEN CIANJUR', 2019, 1115.81],
 ['KABUPATEN CIANJUR', 2020, 1117.0],
 ['KABUPATEN CIANJUR', 2021, 355.69],
 ['KABUPATEN CIANJUR', 2022, nan],
 ['KABUPATEN CIANJUR', 2023, nan],
 ['KABUPATEN BANDUNG', 2015, 1895.94],
 ['KABUPATEN BANDUNG', 2016, 1895.94],
 ['KABUPATEN BANDUNG', 2017, 1895.94],
 ['KABUPATEN BANDUNG', 2018, 2068.06],
 ['KABUPATEN BANDUNG', 2019, 1334.12],
 ['KABUPATEN BANDUNG', 2020, 1355.0],
 ['KABUPATEN BANDUNG', 2021, 1489.04],
 ['KABUPATEN BANDUNG', 2022, nan],
 ['KABUPATEN BANDUNG', 2023, nan],
 ['KABUPATEN GARUT', 2015, 464.74],
 ['KABUPATEN GARUT', 2016, 464.74],
 ['KABUPATEN GARUT', 2017, 464.74],
 ['KABUPATEN GARUT', 2018, 473.89],
 ['KABUPATEN GARUT', 2019, 1144.01],
 ['KABUPATEN GARUT', 2020, 1151.0],
 ['KABUPATEN GARUT', 2021, 321.17],
 ['KABUPATEN GARUT', 2022, nan],
 ['KABUPATEN GARUT', 2023, nan],
 ['KABUPATEN TASIKMALAYA', 2015, 464.52],
 ['KABUPATEN TASIKMALAYA', 2016, 464.52],
 ['KABUPATEN TASIKMALAYA', 2017, 464.52],
 ['KABUPATEN TASIKMALAYA', 2018, 458.45],
 ['KABUPATEN TASIKMALAYA', 2019, 753.06],
 ['KABUPATEN TASIKMALAYA', 2020, 754.0],
 ['KABUPATEN TASIKMALAYA', 2021, 172.26],
 ['KABUPATEN TASIKMALAYA', 2022, nan],
 ['KABUPATEN TASIKMALAYA', 2023, nan],
 ['KABUPATEN CIAMIS', 2015, 260.91],
 ['KABUPATEN CIAMIS', 2016, 260.91],
 ['KABUPATEN CIAMIS', 2017, 260.91],
 ['KABUPATEN CIAMIS', 2018, 263.01],
 ['KABUPATEN CIAMIS', 2019, 560.57],
 ['KABUPATEN CIAMIS', 2020, 564.0],
 ['KABUPATEN CIAMIS', 2021, 159.41],
 ['KABUPATEN CIAMIS', 2022, nan],
 ['KABUPATEN CIAMIS', 2023, nan],
 ['KABUPATEN KUNINGAN', 2015, 251.7],
 ['KABUPATEN KUNINGAN', 2016, 251.7],
 ['KABUPATEN KUNINGAN', 2017, 251.7],
 ['KABUPATEN KUNINGAN', 2018, 248.52],
 ['KABUPATEN KUNINGAN', 2019, 537.25],
 ['KABUPATEN KUNINGAN', 2020, 540.0],
 ['KABUPATEN KUNINGAN', 2021, 405.76],
 ['KABUPATEN KUNINGAN', 2022, nan],
 ['KABUPATEN KUNINGAN', 2023, nan],
 ['KABUPATEN CIREBON', 2015, 465.75],
 ['KABUPATEN CIREBON', 2016, 465.75],
 ['KABUPATEN CIREBON', 2017, 465.75],
 ['KABUPATEN CIREBON', 2018, 466.25],
 ['KABUPATEN CIREBON', 2019, 3.15],
 ['KABUPATEN CIREBON', 2020, 1096.0],
 ['KABUPATEN CIREBON', 2021, 242.52],
 ['KABUPATEN CIREBON', 2022, nan],
 ['KABUPATEN CIREBON', 2023, nan],
 ['KABUPATEN MAJALENGKA', 2015, 254.63],
 ['KABUPATEN MAJALENGKA', 2016, 254.63],
 ['KABUPATEN MAJALENGKA', 2017, 254.63],
 ['KABUPATEN MAJALENGKA', 2018, 249.26],
 ['KABUPATEN MAJALENGKA', 2019, 515.7],
 ['KABUPATEN MAJALENGKA', 2020, 518.0],
 ['KABUPATEN MAJALENGKA', 2021, 546.54],
 ['KABUPATEN MAJALENGKA', 2022, nan],
 ['KABUPATEN MAJALENGKA', 2023, nan],
 ['KABUPATEN SUMEDANG', 2015, 237.96],
 ['KABUPATEN SUMEDANG', 2016, 237.96],
 ['KABUPATEN SUMEDANG', 2017, 237.96],
 ['KABUPATEN SUMEDANG', 2018, 236.12],
 ['KABUPATEN SUMEDANG', 2019, 436.96],
 ['KABUPATEN SUMEDANG', 2020, 438.0],
 ['KABUPATEN SUMEDANG', 2021, 707.75],
 ['KABUPATEN SUMEDANG', 2022, nan],
 ['KABUPATEN SUMEDANG', 2023, nan],
 ['KABUPATEN INDRAMAYU', 2015, 613.18],
 ['KABUPATEN INDRAMAYU', 2016, 613.18],
 ['KABUPATEN INDRAMAYU', 2017, 613.18],
 ['KABUPATEN INDRAMAYU', 2018, 603.11],
 ['KABUPATEN INDRAMAYU', 2019, 1071.05],
 ['KABUPATEN INDRAMAYU', 2020, 1077.0],
 ['KABUPATEN INDRAMAYU', 2021, 792.48],
 ['KABUPATEN INDRAMAYU', 2022, nan],
 ['KABUPATEN INDRAMAYU', 2023, nan],
 ['KABUPATEN SUBANG', 2015, 487.26],
 ['KABUPATEN SUBANG', 2016, 487.26],
 ['KABUPATEN SUBANG', 2017, 487.26],
 ['KABUPATEN SUBANG', 2018, 498.7],
 ['KABUPATEN SUBANG', 2019, 1012.45],
 ['KABUPATEN SUBANG', 2020, 1023.0],
 ['KABUPATEN SUBANG', 2021, 739.6],
 ['KABUPATEN SUBANG', 2022, nan],
 ['KABUPATEN SUBANG', 2023, nan],
 ['KABUPATEN PURWAKARTA', 2015, 308.96],
 ['KABUPATEN PURWAKARTA', 2016, 308.96],
 ['KABUPATEN PURWAKARTA', 2017, 308.96],
 ['KABUPATEN PURWAKARTA', 2018, 323.87],
 ['KABUPATEN PURWAKARTA', 2019, 384.43],
 ['KABUPATEN PURWAKARTA', 2020, 388.0],
 ['KABUPATEN PURWAKARTA', 2021, 239.72],
 ['KABUPATEN PURWAKARTA', 2022, nan],
 ['KABUPATEN PURWAKARTA', 2023, nan],
 ['KABUPATEN KARAWANG', 2015, 869.86],
 ['KABUPATEN KARAWANG', 2016, 869.86],
 ['KABUPATEN KARAWANG', 2017, 869.86],
 ['KABUPATEN KARAWANG', 2018, 896.85],
 ['KABUPATEN KARAWANG', 2019, 934.4],
 ['KABUPATEN KARAWANG', 2020, 942.0],
 ['KABUPATEN KARAWANG', 2021, 614.61],
 ['KABUPATEN KARAWANG', 2022, nan],
 ['KABUPATEN KARAWANG', 2023, nan],
 ['KABUPATEN BEKASI', 2015, 1228.6],
 ['KABUPATEN BEKASI', 2016, 1228.6],
 ['KABUPATEN BEKASI', 2017, 1228.6],
 ['KABUPATEN BEKASI', 2018, 1600.71],
 ['KABUPATEN BEKASI', 2019, 2590.0],
 ['KABUPATEN BEKASI', 2020, 2258.0],
 ['KABUPATEN BEKASI', 2021, 1193.76],
 ['KABUPATEN BEKASI', 2022, nan],
 ['KABUPATEN BEKASI', 2023, nan],
 ['KABUPATEN BANDUNG BARAT', 2015, 616.08],
 ['KABUPATEN BANDUNG BARAT', 2016, 616.08],
 ['KABUPATEN BANDUNG BARAT', 2017, 616.08],
 ['KABUPATEN BANDUNG BARAT', 2018, 663.54],
 ['KABUPATEN BANDUNG BARAT', 2019, 1124.5],
 ['KABUPATEN BANDUNG BARAT', 2020, 1135.0],
 ['KABUPATEN BANDUNG BARAT', 2021, 201.09],
 ['KABUPATEN BANDUNG BARAT', 2022, nan],
 ['KABUPATEN BANDUNG BARAT', 2023, nan],
 ['KABUPATEN PANGANDARAN', 2015, 185.83],
 ['KABUPATEN PANGANDARAN', 2016, 185.83],
 ['KABUPATEN PANGANDARAN', 2017, 185.83],
 ['KABUPATEN PANGANDARAN', 2018, 171.21],
 ['KABUPATEN PANGANDARAN', 2019, 250.23],
 ['KABUPATEN PANGANDARAN', 2020, 252.0],
 ['KABUPATEN PANGANDARAN', 2021, 46.62],
 ['KABUPATEN PANGANDARAN', 2022, nan],
 ['KABUPATEN PANGANDARAN', 2023, nan],
 ['KOTA BOGOR', 2015, 991.93],
 ['KOTA BOGOR', 2016, 991.93],
 ['KOTA BOGOR', 2017, 991.93],
 ['KOTA BOGOR', 2018, 1069.41],
 ['KOTA BOGOR', 2019, 620.55],
 ['KOTA BOGOR', 2020, 567.0],
 ['KOTA BOGOR', 2021, 719.72],
 ['KOTA BOGOR', 2022, nan],
 ['KOTA BOGOR', 2023, nan],
 ['KOTA SUKABUMI', 2015, 309.91],
 ['KOTA SUKABUMI', 2016, 309.91],
 ['KOTA SUKABUMI', 2017, 309.91],
 ['KOTA SUKABUMI', 2018, 318.12],
 ['KOTA SUKABUMI', 2019, 172.82],
 ['KOTA SUKABUMI', 2020, 181.0],
 ['KOTA SUKABUMI', 2021, 232.06],
 ['KOTA SUKABUMI', 2022, nan],
 ['KOTA SUKABUMI', 2023, nan],
 ['KOTA BANDUNG', 2015, 2448.63],
 ['KOTA BANDUNG', 2016, 2448.63],
 ['KOTA BANDUNG', 2017, 2448.63],
 ['KOTA BANDUNG', 2018, 2441.12],
 ['KOTA BANDUNG', 2019, 1575.73],
 ['KOTA BANDUNG', 2020, 1630.0],
 ['KOTA BANDUNG', 2021, 1529.04],
 ['KOTA BANDUNG', 2022, nan],
 ['KOTA BANDUNG', 2023, nan],
 ['KOTA CIREBON', 2015, 304.15],
 ['KOTA CIREBON', 2016, 304.15],
 ['KOTA CIREBON', 2017, 304.15],
 ['KOTA CIREBON', 2018, 308.37],
 ['KOTA CIREBON', 2019, 245.0],
 ['KOTA CIREBON', 2020, 192.0],
 ['KOTA CIREBON', 2021, 229.75],
 ['KOTA CIREBON', 2022, nan],
 ['KOTA CIREBON', 2023, nan],
 ['KOTA BEKASI', 2015, 2387.08],
 ['KOTA BEKASI', 2016, 2387.08],
 ['KOTA BEKASI', 2017, 2387.08],
 ['KOTA BEKASI', 2018, 2858.6],
 ['KOTA BEKASI', 2019, 2060.7],
 ['KOTA BEKASI', 2020, 1923.0],
 ['KOTA BEKASI', 2021, 1500.77],
 ['KOTA BEKASI', 2022, nan],
 ['KOTA BEKASI', 2023, nan],
 ['KOTA DEPOK', 2015, 1844.3],
 ['KOTA DEPOK', 2016, 1844.3],
 ['KOTA DEPOK', 2017, 1844.3],
 ['KOTA DEPOK', 2018, 2272.07],
 ['KOTA DEPOK', 2019, 1469.77],
 ['KOTA DEPOK', 2020, 1516.0],
 ['KOTA DEPOK', 2021, 1418.87],
 ['KOTA DEPOK', 2022, nan],
 ['KOTA DEPOK', 2023, nan],
 ['KOTA CIMAHI', 2015, 563.21],
 ['KOTA CIMAHI', 2016, 563.21],
 ['KOTA CIMAHI', 2017, 563.21],
 ['KOTA CIMAHI', 2018, 592.62],
 ['KOTA CIMAHI', 2019, 267.74],
 ['KOTA CIMAHI', 2020, 369.0],
 ['KOTA CIMAHI', 2021, 193.36],
 ['KOTA CIMAHI', 2022, nan],
 ['KOTA CIMAHI', 2023, nan],
 ['KOTA TASIKMALAYA', 2015, 472.36],
 ['KOTA TASIKMALAYA', 2016, 472.36],
 ['KOTA TASIKMALAYA', 2017, 472.36],
 ['KOTA TASIKMALAYA', 2018, 465.23],
 ['KOTA TASIKMALAYA', 2019, 291.6],
 ['KOTA TASIKMALAYA', 2020, 285.0],
 ['KOTA TASIKMALAYA', 2021, 295.87],
 ['KOTA TASIKMALAYA', 2022, nan],
 ['KOTA TASIKMALAYA', 2023, nan],
 ['KOTA BANJAR', 2015, 130.21],
 ['KOTA BANJAR', 2016, 130.21],
 ['KOTA BANJAR', 2017, 130.21],
 ['KOTA BANJAR', 2018, 128.34],
 ['KOTA BANJAR', 2019, 100.67],
 ['KOTA BANJAR', 2020, 79.0],
 ['KOTA BANJAR', 2021, 60.29],
 ['KOTA BANJAR', 2022, nan],
 ['KOTA BANJAR', 2023, nan]]